body {
	background-image: 
	url("dmvjezba/background.jpg") ;
}

h1 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 40px;
	text-align: center;
	width: 1000px; position: absolute; left: 26%; margin-left: -50px; top: 18%; margin-top: -50px;
}

.p1 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 35%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.img1 {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 50%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p2 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 95%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.img2 {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 110%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p3 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 155%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.img3 {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 170%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p4 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 204%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.img4 {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 220%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p5  {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 253%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.img5 {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 269%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p6  {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 303%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.img6 {
	width: 450px;
	position: absolute; left: 25%; margin-left: -50px; top: 320%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.img6i {
	width: 450px;
	position: absolute; left: 55%; margin-left: -50px; top: 320%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p7 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 400%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.img7 {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 415%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p8 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 458%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.img8 {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 470%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p9 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 510%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.img9 {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 525%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p10 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 560%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.gif {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 575%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p11 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 608%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.video {
	width: 450px;
	position: absolute; left: 41.5%; margin-left: -50px; top: 623%; margin-top: -50px;
	border: 10px solid rgb(187, 133, 171,);
	border-radius: 20px;
}

.p12 {
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 25px;
	text-align: center;
	width: 700px; position: absolute; left: 35%; margin-left: -50px; top: 675%; margin-top: -50px;
	background-color: rgb(187, 133, 171, 0.5);
	border-radius: 30px;
}

.grf {
	text-align: center;
	color: rgb(107, 38, 75);
	font-family: monospace, "monaco";
	font-size: 17px;
	width: 300px;
	line-height:30px;
	position: absolute; left: 45.5%; margin-left: -50px; top: 705%; margin-top: -70px;
}

.homepagebutton {
	color: rgb(221,160,221);
	font-family: inherit;
	font-family: monospace, "monaco";
	font-size: 17px;
	text-align: center;
	width: 72px;
	background-color: rgb(107, 38, 75);
	padding: 10px;
	padding-bottom: 13px;
	padding-top: 10px;
	padding-right: 13px;
	padding-left: 13px;
	border: 1px solid rgb(58,36,59);
	border-radius: 30px;
	transition: 0.5s;
	opacity: 0.6;
	position: absolute; left: 4%; margin-left: -50px; top: 7%; margin-top: -50px;
}

.homepagebutton:hover {
	background-color: rgb(107, 38, 75);
	color: rgb(221,160,221);
	opacity: 1;
}

.videovjezba {
	color: rgb(221,160,221);
	font-family: inherit;
	font-family: monospace, "monaco";
	font-size: 17px;
	text-align: center;
	width: 135px;
	background-color: rgb(107, 38, 75);
	padding: 10px;
	padding-bottom: 13px;
	padding-top: 10px;
	padding-right: 13px;
	padding-left: 13px;
	border: 1px solid rgb(58,36,59);
	border-radius: 30px;
	transition: 0.5s;
	opacity: 0.6;
	position: absolute; left: 4%; margin-left: -50px; top: 13%; margin-top: -50px;
}

.videovjezba:hover {
	background-color: rgb(107, 38, 75);
	color: rgb(221,160,221);
	opacity: 1;
}

.omeni {
	color: rgb(221,160,221);
	font-family: inherit;
	font-family: monospace, "monaco";
	font-size: 17px;
	text-align: center;
	width: 135px;
	background-color: rgb(107, 38, 75);
	padding: 10px;
	padding-bottom: 13px;
	padding-top: 10px;
	padding-right: 13px;
	padding-left: 13px;
	border: 1px solid rgb(58,36,59);
	border-radius: 30px;
	transition: 0.5s;
	opacity: 0.6;
	position: absolute; left: 4%; margin-left: -50px; top: 19%; margin-top: -50px;
}

.omeni:hover {
	background-color: rgb(107, 38, 75);
	color: rgb(221,160,221);
	opacity: 1;
}
